/* Farbcode */

/*
  #AB46D2 Lila
  #FF6FB5 Pinky
  #55D8C1 Mint
  #FCF69C Gelb
*/

* {
  /* Box Modell verändert sich nicht ungewollt */
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  /* Standard 8px margin, deshalb hier Anpassung um kein Margin zu haben */
  margin: 0;
  font-family: 'Raleway', 'Lato', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

/* Navigationsleiste */

.header-nav {
  width: 100%;
  height: 50px;
  background-color: #55d8c1;
  position: relative;
  font-weight: bold;
  font-size: 1.1rem;
}

.header-nav > a > img {
  height: 30px;
  width: auto;
  position: absolute;
  left: 2rem;
  top: 0.55rem;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2rem;
  height: 100%;
}

.header-nav > ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 0.4rem 0 0.4rem;
}

.header-nav > ul > li > a {
  display: inline-block;
  margin-top: 0.8rem;
}

.header-nav > ul > li > a:link {
  color: #ab46d2;
  text-decoration: none;
}

.header-nav > ul > li > a:hover {
  color: #ff6fb5;
  text-decoration: none;
}

.header-nav > ul > li > a:active {
  color: #ff6fb5;
  text-decoration: none;
}

.header-nav > ul > li > a:visited {
  color: #ab46d2;
  text-decoration: none;
}

.active {
  background-color: #fcf69c;
}

.header-banner {
  background: url('../img/hintergrund.jpg') no-repeat 50% 50%;
  width: 100%;
  height: 0;
  padding-top: 20.83%;
  background-size: contain;
  /*
    1920 x 400
    1000px x ????
    wi viel % 1920px sind 400px ?
    400/1920 * 100 = 20.83%
  */
}

.header-banner-klein {
  background: url('../img/hintergrund-klein.jpg') no-repeat center center;
  width: 100%;
  height: 0;
  padding-top: 15.625%;
  background-size: contain;
}

/* GRID-System (sichtbarkeit) */
.border,
.border * {
  border: 1px solid #ab46d2;
}

[class*='col-'] {
  background-color: #fcf69c;
}

p {
  background-color: #55d8c1;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* GRID-System */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* clearfix hack --> */
.row::after {
  content: '';
  clear: both;
  display: block;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 0.8rem;
}

.col-1 {
  width: 16.666%;
}

.col-2 {
  width: 33.333%;
}

.col-3 {
  width: 50%;
}

.col-6 {
  width: 100%;
}
