div {
  width: 200px;
  height: 200px;
  background-color: red;
}

/* from 0%, to 100% */
@keyframes farbwechsel {
  from { background-color: red; }
  to { background-color: blue; }
}

#test {
  animation: farbwechsel;
  animation-duration: 4s;
}
